<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.statix.systemuiflags.overlay">
    <application android:label="SystemUIFlagFlipperOverlay" android:hasCode="false"/>
    <overlay android:priority="1" android:targetPackage="com.statix.systemuiflags" android:isStatic="true"/>
</manifest>
